.kue {
  width: 200px;
  height: 200px;
  background-color: #F0D881;
  border-radius: 50%;
  position: relative;
}

.lilin {
  width: 10px;
  height: 40px;
  background-color: #FF9900;
  position: absolute;
  border-radius: 50%;
}

.kue .lilin:nth-child(1) {
  left: 10%;
  top: 20%;
}

.kue .lilin:nth-child(2) {
  left: 25%;
  top: 20%;
}

.kue .lilin:nth-child(3) {
  left: 40%;
  top: 20%;
}

/* ... lilin lainnya (hingga lilin ke-18) */

.lilin:hover {
  cursor: pointer;
}
